<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    <main id="container">
      <section class="item" id="create">
        <h3>make your own board</h3>
        <form action="/orders" method="POST">
          <div class="size">
            <label for="size">Size:</label>
            <select name="size" id="size">
              <% size.forEach(s => { %>
              <option value="<%=s._id%>"><%=s.size%> <%=s.price%></option>
              <% })%>
            </select>
          </div>
          <div class="cheese">
            <label
              >Choose 2 cheeses
              <select name="cheese" id="cheese">
                <% cheese.forEach(c =>{ %>
                <option value="<%=c._id%>"><%=c.name%></option>
                <% }) %>
              </select>
              <select name="cheese" id="cheese">
                <% cheese.forEach(c =>{ %>
                <option value="<%=c._id%>"><%=c.name%></option>
                <% }) %>
              </select>
            </label>
          </div>
          <div>
            <label for="meats"
              >Choose 2 meats
              <select name="meats" id="meats">
                <% meats.forEach(m => { %>
                <option value="<%= m._id%>"><%=m.name%></option>
                <% }) %>
              </select>
              <select name="meats" id="meats">
                <% meats.forEach(m => { %>
                <option value="<%=m._id%>"><%=m.name%></option>
                <% })%>
              </select>
            </label>
          </div>
          <div>
            <label for="addons"
              >Optional Add Ons
              <select name="addons" id="addons">
                <option value="63b496049bc82cad830c7b23" selected>pick add on</option>
                <% addOns.forEach(a => { %>
                <option value="<%=a._id%>"><%=a.name%> + <%=a.price%></option>
                <% })%>
              </select>
            </label>
          </div>
          <textarea
            name=""
            id=""
            cols="50"
            rows="10"
            placeholder="Special Request"
          ></textarea>
          <input type="submit" value="Create Order" id="button" />
          <h4>Total:</h4>
          <!-- TODO: be able to sum up total -->
        </form>
      </section>
    </main>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>
