<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav') %>
    </nav>
    <main>
        <ul class="container menu">
            <% foundMenu.forEach(menu => { %> 
                <li class="item" id="menu">
                <a href="/menu/<%=menu._id%>"><h3><%=menu.title%></h3></a>
                <img src="<%=menu.img%>" alt="guodaboard">
                <p><%=menu.description%></p>
                <% }) %>
            </li>
        </ul>
    </main>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>