<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    <main>
      <section class="container" id="user">
        <div class="item" id="login">
          <h3><%=menu.title%></h3>
          <img src="<%=menu.img%>" alt="guodaboard" />
          <p><%=menu.description%></p>
          <form action="/orders" method="POST">
            <input type="submit" value="Add to orders" />
          </form>
        </div>
      </section>
    </main>
  </body>
</html>


<!-- TODO: create add to orders button for this page -->