<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    <main>
      <section class="container">
        <% foundOrder.forEach(order => { %>
        <div class="item grid-item">
          <div id="grid-header">
          <h3 id="shorten">
            <a href="/orders/<%=order._id%>">Order Numer: <%=order._id%></a>
          </h3>
        </div>
        <div id="grid-size">
          <h4><%=order.size.size%></h4>
        </div>
        <div id="title-cheese"><h4>first selection</h4></div>
        <div id="title-meat"><h4>second selection</h4></div>
          <% order.cheese.forEach(cheese=> { %>
          <div id="cheese"><%=cheese.name%></div>
          <%})%> <% order.meats.forEach(meat => { %>
          <div id="meat"><%=meat.name%></div>
          <%})%> <% order.addons.forEach(addon => { %>
          <div id="addon"><%=addon.name%></div>
          <%})%>
          <div id="grid-footer">
          <form action="/orders/<%=order._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" id="button" />
            <a href="/orders/<%=order._id%>/edit"
              ><input type="button" value="Edit" id="button"
            /></a>
          </form>
        </div>
        </div>
        <%})%>
      </section>
    </main>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>

<!-- TODO: turn order in table view -->
