<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    <main id="container">
      <ul>
        <form action="">
        <% foundOrder.forEach(order => { %>
        <li>
          <% order.cheese.forEach(cheese=> { %>
          <div><%=cheese.name%></div>
          <%})%> <% order.meats.forEach(meat => { %>
          <div><%=meat.name%></div>
          <%})%>
          <% order.addons.forEach(addon => { %>
            <div><%=addon.name%></div> <%})%>
        </li>
        <input type="submit" value="Delete" id="button">
        <a href="https://google.com"><input type="button" value="Edit" id="button"></a>
        <%})%>
      </form>
      </ul>
    </main>
  </body>
</html>

<!-- TODO: turn order in table view -->
