<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    <main>
      <ul class="container">
        <% foundOrder.forEach(order => { %>
        <li class="item orderitem">
          <h3>
            <a href="/orders/<%=order._id%>">Order Numer: <%=order._id%></a>
          </h3>
          <form action="/orders/<%=order._id%>?_method=DELETE" method="POST">
            <% order.size.forEach(size => { %>
            <div><%=size.size%></div>
            <%})%> <% order.cheese.forEach(cheese=> { %>
            <div><%=cheese.name%></div>
            <%})%> <% order.meats.forEach(meat => { %>
            <div><%=meat.name%></div>
            <%})%> <% order.addons.forEach(addon => { %>
            <div><%=addon.name%></div>
            <%})%>
            <input type="submit" value="Delete" id="button" />
            <a href="/orders/<%=order._id%>/edit"
              ><input type="button" value="Edit" id="button"
            /></a>
          </form>
        </li>
        <%})%>
      </ul>
    </main>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>

<!-- TODO: turn order in table view -->
