<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header')%>
  </head>
  <body>
    <nav><%- include('../partials/nav') %></nav>
    <main class="container item">
      <form action="/orders/<%=foundOrder._id%>?_method=DELETE" method="POST">
        <a href="/orders/<%=foundOrder._id%>"
          >Order Numer: <%=foundOrder._id%></a
        >
        <% foundOrder.size.forEach(size => {%>
        <div><%=size.size%></div>
        <%})%> <% foundOrder.cheese.forEach(cheese=> { %>
        <div><%=cheese.name%></div>
        <%})%> <% foundOrder.meats.forEach(meat => { %>
        <div><%=meat.name%></div>
        <%})%> <% foundOrder.addons.forEach(addon => { %>
        <div><%=addon.name%></div>
        <%})%>
        <input type="submit" value="Delete" id="button" />
        <a href="/orders/<%=foundOrder._id%>/edit"
          ><input type="button" value="Edit" id="button"
        /></a>
      </form>
    </main>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>